@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}
body {
  margin: 0px;

  font-family: 'Roboto', sans-serif;
  background-color: #333;
  color: #222;
}

nav {
  position: fixed;
  top: 800px;
  margin-left: 15px;
}

a {
  color: #fff;
  text-decoration: none;
}

p {
  margin-bottom: 0;
}

h1 {
  margin-top: 0;
}

button {
  position: absolute;
  width: 40px;
  height: 31px;
  padding: 0px;

  font-size: 35px;
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.main-container {
  position: relative;
}

.article {
  padding: 15px 0px;

  transform-origin: top left;
  transition: transform 500ms linear;
  background-color: #fff;
}
.article.rotated {
  transform: rotate(-15deg);
}

.content {
  width: 900px;
  margin: 0px calc((100vw - 900px) / 2);
}

.circle {
  width: 120px;
  height: 120px;
  position: fixed;
  top: -50px;
  left: -60px;
  z-index: 1;

  background-color: crimson;
  border-radius: 50%;
  transition: transform 500ms linear;
  cursor: pointer;
}
.circle.active {
  transform: rotate(-90deg);
}

.nav-list {
  margin: 0px;
  padding: 0px;

  list-style: none;
  font-size: 18px;
}
.nav-list > li {
  transform: translate(-100px, 0px);
  transition: transform 500ms linear;
}
.nav-list > li:not(:last-child) {
  margin-bottom: 20px;
}
.nav-list.opened > li:nth-child(1) {
  transform: translate(0px);
}
.nav-list.opened > li:nth-child(2) {
  transform: translate(25px);
}
.nav-list.opened > li:nth-child(3) {
  transform: translate(50px);
}

button#open {
  transform: translate(65px, 60px);
}
button#close {
  transform: translate(20px, 65px);
}
